<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1 class="text-uppercase">
          <strong>Full Stack<br>Software Engineer</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">
          12 years of experience designing, implementing, and maintaining n-tier business systems. 
          Whether as a team member or in a lead role, I provide innovative solutions to complex business problems.</p>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-heading text-white">Tools of the Trade</h2>
        <hr class="light my-4">
        <p class="text-faded mb-2">
          Expert level proficiency with the frameworks and languages that are shaping the future of information technology.
        </p>
        
        
        
      </div>
    </div>
    <div class="row">
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-microsoft text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">.Net</h5>
        </div>
      </div>
      
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-angular text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">Angular</h5>
        </div>
      </div>
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-react text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">React</h5>
        </div>
      </div>
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-windows text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">Azure</h5>
        </div>
      </div>
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-java text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">Java</h5>
        </div>
      </div>
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-html5 text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">Html5</h5>
        </div>
      </div>
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-css3-alt text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">CSS3</h5>
        </div>
      </div>
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-git text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">git</h5>
        </div>
      </div>
      <div class="col-1 mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-linux text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">Linux</h5>
        </div>
      </div>
      <div class="col-1  mx-auto text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fab fa-3x fa-aws text-white mb-3 sr-icon-1 d-none d-md-block"></i>
          <h5 class="text-white mb-3 d-none d-lg-block">aws</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="approach" class=" bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-white">Beyond the Code</h2>
        <hr class="my-4">
        <p class="text-white">
          Being a great software engineer is more than writing code.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-comments text-primary mb-3 sr-icon-3"></i>
          <h3 class="mb-3 text-white">Communication</h3>
          <p class="text-muted mb-0">Understanding business needs and sharing updates often.</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-expand text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3 text-white">Defining Scope</h3>
          <p class="text-muted mb-0">Identify project requirements to efficiently deliver features.</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-tasks text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3 text-white">Organization</h3>
          <p class="text-muted mb-0">Planning for success takes successful planning.</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-clock text-primary mb-3 sr-icon-3"></i>
          <h3 class="mb-3 text-white">Accurate Estimates</h3>
          <p class="text-muted mb-0">Proven track-record of meeting or beating deadlines.</p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-grip-horizontal text-primary mb-3 sr-icon-1"></i>
            <h3 class="mb-3 text-white">Modularity</h3>
            <p class="text-muted mb-0">Software that stands on it's own and integrates with your suite.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-sync text-primary mb-3 sr-icon-2"></i>
            <h3 class="mb-3 text-white">Reusability</h3>
            <p class="text-muted mb-0">Think ahead and design a solution that can be built upon.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-coins text-primary mb-3 sr-icon-1"></i>
            <h3 class="mb-3 text-white">Architecture</h3>
            <p class="text-muted mb-0">Choosing the correct platform for your scale and budget.</p>
          </div>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-hands-helping text-primary mb-3 sr-icon-2"></i>
            <h3 class="mb-3 text-white">Mentorship</h3>
            <p class="text-muted mb-0">Offering advice and coaching to junior developers.</p>
          </div>
        </div>
    </div>
  </div>
</section>

<!-- <section id="current" class="" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">In the Works</h2>
          <hr class="my-4">
          <p class="">
            
          </p>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="p-5">
                <a class="portfolio-box rounded" href="http://www.iapmort.org" target="_blank">
                  <img class="img-fluid" src="img/portfolio/thumbnails/iapmo/iapmo.png" alt="IAPMO">
                  <div class="portfolio-box-caption rounded">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-light text-capitalize">
                          <h3>Full Stack .Net Developer</h3>
                      </div>
                      <div class="project-name mx-auto col-lg-6 text-left">
                          <span class="small"><i class="fab fa-lg fa-microsoft text-white mb-1 sr-icon-1"></i> .Net Framework</span> <br>
                          <span class="small"><i class="fab fa-lg fa-angular text-white mb-1 sr-icon-1"></i> Angular</span><br>
                          <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> SQL Server</span><br>
                          <span class="small"><i class="fab fa-lg fa-github text-white mb-1 sr-icon-1"></i> Github</span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <h2>IAPMO R&T</h2>
                <p>IAPMO R&T is North America’s premier plumbing and mechanical product certification agency. It is accredited by American National Standards Institute (ANSI), Standards Council of Canada (SCC) and entidad mexicana de acreditación, a.c. (ema) along with recognition by Comisión Nacional del Agua (CONAGUA).</p>
              </div>
            </div>
          </div>
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <a class="portfolio-box rounded" href="https://chess.kennethlucero.com" target="_blank">
                <img class="img-fluid" src="img/portfolio/thumbnails/chess/chess-2.jpg" alt="Chess">
                <div class="portfolio-box-caption rounded">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name mx-auto col-lg-6 text-left">
                        <span class="small"><i class="fab fa-lg fa-microsoft text-white mb-1 sr-icon-1"></i> .Net Core</span> <br>
                        <span class="small"><i class="fab fa-lg fa-angular text-white mb-1 sr-icon-1"></i> Angular</span><br>
                        <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> SQL Server</span><br>
                        <span class="small"><i class="fab fa-lg fa-github text-white mb-1 sr-icon-1"></i> Github</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2>Chess: .Net Core & Angular</h2>
              <p>The latest technologies combine to bring life to this classic game. </p>
            </div>
          </div>
        </div>
      </div>
  </section> -->
<section class="" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Previous Projects</h2>
            <hr class="my-4">
            <p>
              My resume is available for 
              <a href="https://drive.google.com/open?id=1chOheNS5GpbgWOjZfa6LqiDFzaxbXjbQ" target="_blank">download</a>  and in a 
              <a href="https://drive.google.com/open?id=10V56P2lzyxxz6RPZtZc4WAslD_B-U2sJ" target="_blank">extended version</a>.
            </p>
          </div>
        </div>
  </div>
  <div class="container p-0">
    
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box rounded" href="https://www.inspirato.com/" target="_blank">
          <img class="img-fluid" src="img/portfolio/thumbnails/inspirato/Inspirato_logo.png" alt="Inspirato">
          <div class="portfolio-box-caption rounded">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-light text-capitalize">
                  <h3>Senior Full Stack Software Engineer</h3>
              </div>
              <div class="project-name mx-auto col-lg-6 text-left">
                  <span class="small"><i class="fab fa-lg fa-windows text-white mb-1 sr-icon-1"></i> Azure</span> <br>
                  <span class="small"><i class="fab fa-lg fa-react text-white mb-1 sr-icon-1"></i> React</span><br>
                  <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> Cosmos DB</span><br>
                  <span class="small"><i class="fab fa-lg fa-github text-white mb-1 sr-icon-1"></i> Github</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box rounded" href="http://www.iapmort.org" target="_blank">
          <img class="img-fluid" src="img/portfolio/thumbnails/iapmo/iapmo.png" alt="IAPMO">
          <div class="portfolio-box-caption rounded">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-light text-capitalize">
                  <h3>Full Stack .Net Developer</h3>
              </div>
              <div class="project-name mx-auto col-lg-6 text-left">
                  <span class="small"><i class="fab fa-lg fa-microsoft text-white mb-1 sr-icon-1"></i> .Net Framework</span> <br>
                  <span class="small"><i class="fab fa-lg fa-angular text-white mb-1 sr-icon-1"></i> Angular</span><br>
                  <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> SQL Server</span><br>
                  <span class="small"><i class="fab fa-lg fa-github text-white mb-1 sr-icon-1"></i> Github</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="https://www.hellowallet.com">
            <img class="img-fluid" src="img/portfolio/thumbnails/hw/HelloWallet-Logo-650-350.png" alt="">
            <div class="portfolio-box-caption rounded">
              <div class="portfolio-box-caption-content">
                  <div class="project-category text-light text-capitalize">
                      <h3>Software Developer</h3>
                  </div>
                  <div class="project-name mx-auto col-lg-6 text-left">
                      <span class="small"><i class="fab fa-lg fa-java text-white mb-1 sr-icon-1"></i> Java</span> <br>
                      <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> MySQL</span><br>
                      <span class="small"><i class="fab fa-lg fa-aws text-white mb-1 sr-icon-1"></i> AWS</span>
                  </div>
              </div>
            </div>
          </a>
        </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.solutionsbydesign.com" target="_blank">
          <img class="img-fluid" src="img/portfolio/thumbnails/sbd/logo_1.png" alt="Solutions By Design">
          <div class="portfolio-box-caption rounded">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-light text-capitalize">
                  <h3>Lead Developer</h3>
              </div>
              <div class="project-name mx-auto col-lg-6 text-left">
                  <span class="small"><i class="fab fa-lg fa-php text-white mb-1 sr-icon-1"></i> Php</span> <br>
                  <span class="small"><i class="fab fa-lg fa-linux text-white mb-1 sr-icon-1"></i> Linux</span><br>
                  <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> MySQL</span><br>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://datingapp.kennethlucero.com"  target="_blank">
          <img class="img-fluid" src="img/portfolio/thumbnails/dating/click-heart-1.jpg" alt="Dating Application">
          <div class="portfolio-box-caption rounded">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-light text-capitalize">
                    <h3>Demo</h3>
                </div>
                <div class="project-name mx-auto col-lg-6 text-left">
                    <span class="small"><i class="fab fa-lg fa-microsoft text-white mb-1 sr-icon-1"></i> .Net Core</span> <br>
                    <span class="small"><i class="fab fa-lg fa-angular text-white mb-1 sr-icon-1"></i> Angular</span><br>
                    <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> SQL Server</span><br>
                    <span class="small"><i class="fab fa-lg fa-github text-white mb-1 sr-icon-1"></i> Github</span>
                </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.berndtgroup.net/">
          <img class="img-fluid" src="img/portfolio/thumbnails/tbg/logo-print-1.jpg" alt="">
          <div class="portfolio-box-caption rounded">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-light text-capitalize">
                    <h3>Software Developer</h3>
                </div>
                <div class="project-name mx-auto col-lg-6 text-left">
                    <span class="small"><i class="fab fa-lg fa-microsoft text-white mb-1 sr-icon-1"></i> .Net Framework</span> <br>
                    <span class="small"><i class="fab fa-lg fa-python text-white mb-1 sr-icon-1"></i> Python</span><br>
                    <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> SQL Server</span><br>
                </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.connectionsacademy.com" target="_blank">
          <img class="img-fluid" src="img/portfolio/thumbnails/ca/ca-logo.png" alt="Connections Academy">
          <div class="portfolio-box-caption rounded">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-light text-capitalize">
                  <h3>Software Developer</h3>
              </div>
              <div class="project-name mx-auto col-lg-6 text-left">
                  <span class="small"><i class="fab fa-lg fa-microsoft text-white mb-1 sr-icon-1"></i> .Net Framework</span> <br>
                  <span class="small"><i class="fab fa-lg fa-js-square text-white mb-1 sr-icon-1"></i> Javascript</span><br>
                  <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> SQL Server</span><br>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.catalyte.io/">
          <img class="img-fluid" src="img/portfolio/thumbnails/catalyte/Catalytelogo650x350-1.png" alt="">
          <div class="portfolio-box-caption rounded">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-light text-capitalize">
                    <h3>Software Developer II</h3>
                </div>
                <div class="project-name mx-auto col-lg-6 text-left">
                    <span class="small"><i class="fab fa-lg fa-microsoft text-white mb-1 sr-icon-1"></i> .Net Framework</span><br>
                    <span class="small"><i class="fab fa-lg fa-java text-white mb-1 sr-icon-1"></i> Java</span><br>
                    <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> MySQL</span><br>
                    <span class="small"><i class="fas fa-lg fa-database text-white mb-1 sr-icon-1"></i> SQL Server</span><br>
                </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Interested in collaboration?</h2>
        <hr class="my-4">
        <p class="mb-5">That's great! Reach out and let's see how my expertise will help.</p>
      </div>
    </div>
    <div class="row">
      <div class="ml-auto col-lg-1 text-center">
        <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
        <p>
          <a href="mailto:kenneth@kennethlucero.com">Email</a>
        </p>
      </div>
      <div class="col-lg-1 text-center">
          <i class="fab fa-github fa-3x mb-3 sr-contact-1"></i>
          <p>
            <a href="https://github.com/klucero84" target="_blank">Github</a>
          </p>
        </div>
        <div class="col-lg-1 mr-auto text-center">
          <i class="fab fa-linkedin fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="https://www.linkedin.com/in/kenneth-lucero/" target="_blank">Linkedin</a>
          </p>
        </div>
    </div>
  </div>
</section>